---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import type { AnyPost } from "../types";
import { getPublications } from "@utils/bibtexUtils";
import { getPostUrl } from "@utils/collections";
import ClimbingBackToTop from "@components/ClimbingBackToTop.astro";

export interface Props {
  posts: AnyPost[];
  tag: string;
  tagName: string;
}

const { posts, tag, tagName } = Astro.props;
const publications = await getPublications();

const getRelatedPubs = (tags: string[]) => {
  return publications.filter(pub => 
    pub.entryTags.keywords && tags.some(tag => pub.entryTags.keywords?.toLowerCase().includes(tag.toLowerCase()))
  ).map(pub => ({ title: pub.entryTags.title || "", url: pub.entryTags.url }));
};
---

<Layout title={`Tag: ${tagName} | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main
    pageTitle={[`Tag:`, `${tagName}`]}
    titleTransition={tag}
    pageDesc={`All the articles with the tag "${tagName}".`}
  >
    <h1 slot="title" transition:name={tag}>{`Tag:${tag}`}</h1>
    <ul>
      {
        posts.map((post, index) => (
          <Card 
            href={getPostUrl(post)} 
            frontmatter={post.data}
            index={index + 1}
            relatedPublications={getRelatedPubs(post.data.tags)}
          />
        ))
      }
    </ul>
  </Main>

  <ClimbingBackToTop />
  <Footer />
</Layout>
